.contador {
    color: rgb(10, 135, 84);
    border: rgb(10, 135, 84) solid 2px;
    font-weight: 700;
    text-align: center;
    align-items: center;
    background-color: rgba(10, 135, 84, 0.4);
    padding: 4%;
    border-radius: 50%;
    width: 2rem;
}