.carrito {
    display: inline-flex;
    gap: 15%;
}

.contador {
    color: rgb(161, 31, 161);
    border: rgb(161, 31, 161) solid 2px;
    font-weight: 700;
    text-align: center;
    align-items: center;
    background-color: rgba(161, 31, 161, 0.3);
    padding: 10%;
    border-radius: 50%;
}