.ContenedorCarro {
    background-color: rgb(246, 228, 206);
    display: flex;
    flex-wrap: wrap;
}

.title {
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    width: 100%;
    color:  rgb(161, 31, 161);
}

.boton {
    text-decoration: none;
    text-align: center;
    border-radius: 1rem;
    border: none;
    background-color: #f46278;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    padding: 1%;
    margin: 1%;
  }

  .contenedorProd {
    background-color: palegoldenrod;
    width: fit-content;
    padding: 2%;
    margin: 1%;
    border-radius: 30%;
    color: #f46278;    
    font-family: 'Courier New', Courier, monospace;
  }

  .nombreProducto {
    font-size: 1.2rem;
  }

  .contenedorBotones {
    width: 100%;
    margin: auto;
    text-align: center;
  }